@font-face {
  font-family: "Baskerville-Old-Face-Caps";
  src: url("../font/Baskerville-Old-Face-Caps-Regular-4.woff") format("woff");
}
@font-face {
  font-family: "NotoSans-BlackItalic";
  src: url("../font/NotoSans-BlackItalic.woff") format("woff");
}
html,
body {
  margin: 0;
  font-family: "Baskerville-Old-Face-Caps", "Libre Baskerville",
    "NotoSans-BlackItalic", serif;
  text-align: justify;
}
/*========== Background ==========*/
#container > .bg1 {
  width: 100vw;
  height: 100vh;
  background: url("../images/background/pexels-kristina-paukshtite-1591252-1.jpg")
    no-repeat center bottom;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 1;
  opacity: 1;
}
#container > .bg2 {
  width: 100vw;
  height: 100vh;
  background: url("../images/background/pexels-kristina-paukshtite-1591252-3.jpg")
    no-repeat center bottom;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 2;
  opacity: 0;
}
#container > .bg3 {
  width: 100vw;
  height: 100vh;
  background: url("../images/background/pexels-kristina-paukshtite-1591252-2.jpg")
    no-repeat center bottom;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 0;
}

/*========== Nav ==========*/
nav {
  z-index: 100;
}

/*========== Contents ==========*/

.topText{
  top: 35%;
  left: 30%;
  position: absolute;
  font-size: 3rem;
  color: #FFF;
  z-index: 4;
}

.contents {
  position: relative;
  z-index: 3;
}

/*========== Footer ==========*/

footer {
  position: relative;
  z-index: 10;
}
