@font-face {
  font-family: "Baskerville-Old-Face-Caps";
  src: url("../font/Baskerville-Old-Face-Caps-Regular-4.woff") format("woff");
}
@font-face {
  font-family: "NotoSans-BlackItalic";
  src: url("../font/NotoSans-BlackItalic.woff") format("woff");
}
html,
body {
  margin: 0;
  font-family: "Baskerville-Old-Face-Caps", "Libre Baskerville",
    "NotoSans-BlackItalic", serif;
  text-align: justify;
  color: #FFF;
}

#container {

  /*========== background image ==========*/
  .bg1,
  .bg2,
  .bg3 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .bg1 {
    background: url("../images/background/pexels-kristina-paukshtite-1591252-1.jpg")
      no-repeat center bottom;
    background-size: cover;
    z-index: 1;
    opacity: 1;
  }

  .bg2 {
    background: url("../images/background/pexels-kristina-paukshtite-1591252-3.jpg")
      no-repeat center bottom;
    background-size: cover;
    z-index: 2;
    opacity: 0;
  }
  .bg3 {
    background: url("../images/background/pexels-kristina-paukshtite-1591252-2.jpg")
      no-repeat center bottom;
    background-size: cover;
    z-index: 0;
  }
  
  
}

/*========== nav ==========*/

nav{
  z-index: 8888;
  margin: 1rem;
  font-size: 1.5rem;
  height: 30vh;

  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-direction: column;
    align-items: flex-end;
  }
  .nav-link {
    color: #FFF !important;
  }

}
.nav-sp{
  position: fixed;
  right: 0;

  .navbar-toggler{
    color: #FFF;
    border-color: #FFF;
  }
}

.over{
  position: fixed;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.95;
  p{
    color: #000;
    font-size: 2rem;
    text-align: center;
    line-height: 3.5rem;
  }
  p:nth-child(1){
    margin-top: 20vh;
  }
  p:hover{
    background-color: #CCC;
  }
  .over-btn{
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
  }
}

/*========== contents ==========*/
.contents {
  position: relative;
  z-index: 3;
  #top{
    position: relative;
    height: 90vh;
    top: 0;
  }
  // 直線動畫
  #top::before{
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    background: #FFF;
    animation: pathmove 3.4s ease-in-out infinite;
    opacity: 0;
    height: calc(80/1100 * 100vw);
  }
}
@keyframes pathmove {
  0% {
      height: 0;
      top: 60vh;
      opacity: 0;
  }
  30% {
      height: 100px;
      opacity: 1;
  }
  100% {
      height: 0;
      top: 80vh;
      opacity: 0;
  }
}

/*========== School & Experience ==========*/

.contents {
  h3{
    text-align: center;
    font-size: 4rem;
    margin: 3rem 0;
    opacity: 0.85;
  }

  .SE, .work, .contact{
    position: relative;
    text-align: center;
    height: 100vh;

    .text{
      font-size: 1.1rem;
      text-align: left;
      width: 70vw;
      margin: 0 auto;
      font-family: serif;

      p{
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        line-height: 3.5rem;
      }

      // .now::before, .notnow::before{
      //   content: "now";
      //   font-size: 0.6rem;
      //   line-height: 1rem;
      //   margin-right: 1rem;
      //   // background-color: initial;
      //   // border: 1px solid initial;
      //   // border-radius: 4px;
      //   padding: 3px;
      // }
      // .notnow::before{
      //   opacity: 0;
      // }
    }
  }

  .SE::after, .work::after{
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    background: #FFF;
    animation: pathmove_SE 3.4s ease-in-out infinite;
    opacity: 0;
    height: calc(80/1100 * 100vw);
  }
  @keyframes pathmove_SE {
    0% {
        height: 0;
        top: 80vh;
        opacity: 0;
    }
    30% {
        height: 100px;
        opacity: 1;
    }
    100% {
        height: 0;
        top: 100vh;
        opacity: 0;
    }
  }
}



/*========== footer ==========*/

footer {
  position: relative;
  z-index: 10;
  text-align: center;
  line-height: 3rem;
  font-size: 1.2rem;
}



/*==================== rwd ====================*/
.sp{
  display: none;
}
@media(max-width:768px){
  .pc{
    display: none;
  }
  .sp{
    display: block;
  }

  // navbar
  .contents{
    #top{
      height: 120vh;
    }
    #top::after{
      width: 1px;
    }
  }
  // 直線動畫
  @keyframes pathmove {
    0% {
        height: 0;
        top: 85vh;
        opacity: 0;
    }
    30% {
        height: 80px;
        opacity: 1;
    }
    100% {
        height: 0;
        top: 110vh;
        opacity: 0;
    }
  }

  // context
  .contents{

    .SE, .work, .contact{
      height: 130vh;
  
      h3{
        font-size: 2rem;
      }
      p{
        font-size: 1rem;
        line-height: 1.2rem;
      }
  
    }
  }
    
  @keyframes pathmove_SE {
    0% {
        height: 0;
        top: 100vh;
        opacity: 0;
    }
    30% {
        height: 100px;
        opacity: 1;
    }
    100% {
        height: 0;
        top: 115vh;
        opacity: 0;
    }
  }

  footer{
    font-size: 0.7rem;
    margin-bottom: 1.5rem;
  }
}